extends layout

block content
  header
    h1 Boka bil
    nav
      a(href='') Admin
      div(class='loggedIn')
        Placeholder anv
        a(href='') Logga ut
  section(class='bokaBil')
    form
      div(class='biltyp')
        h2 Biltyp
        p
          input(type='radio' name='biltyp' id='Sedan')
          label(for='Sedan') Sedan
        p
          input(type='radio' name='biltyp' id='Pickup')
          label(for='Pickup') Pickup
        p 
          input(type='radio' name='biltyp' id='Lastbil')
          label(for='Lastbil') Lastbil
        p
          input(type='radio' name='biltyp' id='Kombi')
          label(for='Kombi') Kombi
        p
          input(type='radio' name='biltyp' id='Lätt lastbil')
          label(for='Lätt lastbil') Lätt lastbil
      div(class='tid')
        h2 Tid
        p
          label(for='franDatum') Från:
          input(type='date' name='franDatum')
          input(type='time' name='franTid')
        p
          label(for='tillDatum') Till:
          input(type='date' name='tillDatum')
          input(type='time' name='tillTid')
        p
          input(type='checkbox' name='heldag')
          label(for='heldag') Heldag
      div(class='tillval')
        h2 Tillval
        p
          input(type='checkbox' name='tillval' id='Diesel')
          label(for='Diesel') Diesel
        p
          input(type='checkbox' name='tillval' id='Bensin')
          label(for='Bensin') Bensin
        p 
          input(type='checkbox' name='tillval' id='Extraljus')
          label(for='Extraljus') Extraljus
        p
          input(type='checkbox' name='tillval' id='Takräcke')
          label(for='Takräcke') Takräcke
        p
          input(type='checkbox' name='tillval' id='Dragkrok')
          label(for='Dragkrok') Dragkrok
      div(class='avslutabokning')
        input(type='checkbox' name='privat')
        label(for='privat') Privat användning
        button Återställ
        button Boka bil
  section(class='minaBokningar')
    h2 Mina bokningar
    ul
      li Placerholder list-item
      li Placerholder två
      li Placerholder tre