extends layout

block content
  header
    h1 Boka bil
    nav
      a(href='') Admin
      div(class='loggedIn')
        Placeholder anv
        a(href='') Logga ut
  section(class='bokaBil')
    form(method='post' action='/boka')
      div(class='biltyp')
        h2 Biltyp
        p
          input(type='radio' name='type' id='Sedan' value='Sedan')
          label(for='Sedan') Sedan
        p
          input(type='radio' name='type' id='Kombi' value='Kombi')
          label(for='Kombi') Kombi
        p
          input(type='radio' name='type' id='Pickup' value='Pickup')
          label(for='Pickup') Pickup
        p
          input(type='radio' name='type' id='Lätt lastbil' value='Lätt lastbil')
          label(for='Lätt lastbil') Lätt lastbil
        p 
          input(type='radio' name='type' id='Lastbil' value='Lastbil')
          label(for='Lastbil') Lastbil
      div(class='tid')
        h2 Tid
        p
          label(for='franDatum') Från:
          input(type='date' name='franDatum')
          input(type='time' name='franTid')
        p
          label(for='tillDatum') Till:
          input(type='date' name='tillDatum')
          input(type='time' name='tillTid')
      div(class='tillval')
        h2 Tillval
        each funk in funklista
          input(type='checkbox' name='tillval' value=funk.id id=funk.name)
          label(for=funk.name)= funk.name
      div(class='avslutabokning')
        input(type='checkbox' name='privat')
        label(for='privat') Privat användning
        button Återställ
        button Boka bil
  section(class='minaBokningar')
    h2 Mina bokningar
    ul
      li Placerholder list-item
      li Placerholder två
      li Placerholder tre