extends layout

block content
  .header.div_style
    .headline
      h1 Administration
    .meny
      ul
        li
          a(href='#') Boka bil
        li
          a(href='#') Bilar till besiktning(5)
        li
          a(href='#')
            | user
            br
            | logga ut
  // ----------------- sök fordon
  h2#headline_add_remove Lägg till / Ändra funktioner
  br
  h2#search_headline Lägg till funktioner :
  .search.div_style
    h2#reg_info_headline Funktion
    form(method='post' action='/funktioner/add')
      input#search_text(type='text' placeholder='Namn på funktion' name='name')
      span.req_star *
      button#search_button Lägg till
  // -----------------  fordon
  .vehicle_container
    h2#vehicle_headline Ändra funktioner :
    .funktioner.div_style
      each funk in funklista
        label= funk.name
        input(class='funktioner_style' type='checkbox' value=funk.id)
      span.funktion_update_button
        button.button_style Uppdatera
  if(funkErr)
    div(class='doesExist')= funkExists