extends layout

block content
  style html, body { height: 100%; }
  div(class='flex')
    article(class='wrapper')
      section(class='loginHead')
        div(class='loginImg')
          img(src='/images/logo.png' alt='Logo')
        div(class='loginTitle')
          h1 Carpool
          h2 Service
      section(class='loginFoot div_style_1')
        form(action='/' method='get')
          input(type='text' name='username')
          input(type='password')
          button Logga in