/* ----- assets ------ */
@import url(https://fonts.googleapis.com/css?family=Roboto);


body {
  font-family: 'Roboto', sans-serif;
  color: #576075;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6
}
button {
    background-color: #2fcb8b;
    padding: 10px 20px;
    border: 0px;
    border-radius: 3px;
    color: #FFFFFF;
}
button:hover {
  background-color: #239868;
  padding: 10px 20px;
  border-radius: 3px;
  color: #FFFFFF;
}
input {
    font-size: 12px;
    padding: 5px 5px;
    border-radius: 3px;
    border: 1px solid #e0e4ef;
}
input[type=checkbox] {
	background-color: #FF0000;
}

a {
  color: #FFFFFF;
}

#besiktning, #Serviceinformation {
  color: #576075;
}
/* LOGIN */

.flex {
	display: flex;
  justify-content: center;
  align-items: center;
  background: #ddd;
  height: 100%;
}

.wrapper {
	width: 600px;
	height: 200px;
}

	.loginHead {
		width: 100%;
		height: 95px;
	}

		.loginImg {
			float: left;
			width: 300px;
		}

			.loginImg img {
				width: 300px;
				height: 90px;
			}

		.loginTitle {
			float: left;
			width: 290px;
			height: 90px;
			padding-left: 10px;
			padding-top: 10px;
		}

			.loginTitle h1 {
				font-size: 2em;
				margin: 0;
			}

			.loginTitle h2 {
				font-size: 1.5em;
				margin: 0;
			}

	.loginFoot {
		width: 100%;
		height: 95px;
		background: #ccc;
		line-height: 95px;
		position: relative;
		top: 10px;
		text-align: center;
	}

		.loginFoot form {
			height: 95px;
		}

			.loginFoot input {
				width: 150px;
			}

			.loginFoot input,
			.loginFoot button {
				font-size: 1.5em;
				padding: 5px;
			}

/* BOKA BIL */

.required {
  color: #f00;
}

header {
	margin: 10px auto;
	height: 50px;
}

	header * {
		display: inline-block;
	}

	header h1 {
		float: left;
    margin: 0;
    line-height: 50px;
    margin-left: 28px;
	}

	header nav {
		float: right;
	}

		.loggedIn {
      line-height: 50px;
      margin-right: 28px;
    }

.bokaBil {
	clear: both;
	height: auto;
	margin: 50px auto 10px auto;
}

	.bokaBil h2 {
    margin-top: -35px;
text-align: left;
padding: 20px;
background-color: #3f3f4c;
color: #FFFFFF;
border-radius: 10px 10px 0px 0px;
	}

	.biltyp {
		margin: 0 2.3% 0 0;
	}

	.tid {
		margin: 0 2.3% 0 2.3%;
	}

	.tillval {
		margin: 0 0 0 2.3%;
	}

    .tillval h2 {
      margin: -35px 0 10px 0;
    }

	.biltyp,
	.tid,
	.tillval {
		width: 30%;
		height: auto;
		float: left;
	}

	.biltyp input,
  .tid label {
    margin: auto auto auto 15px;
	}

  .tillvalFix {
    margin: 2%;
    float: left;
  }

  .tillvalFix div {
    width: 45%;
    display: inline-block;
    margin: auto;
    float: left;
  }

    .tillvalFix div:nth-child(even) {
      float: left;
    }

    .tillvalFix div:nth-child(even) {
      float: right;
    }

	.avslutabokning {
		float: right;
		margin: 20px 0 0 auto;
	}

#user_book {
  margin-bottom: 20px;
}
.minaBokningar {
	clear: both;
	margin: 10px auto;
}

	.minaBokningar h2 {
		position: relative;
		margin-top: -35px;
	}

  .minaBokningar table {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 3px;
    border-spacing: 0px;
  }
  .minaBokningar td {
    padding: 10px;
    border-radius: 3px;
  }
  .minaBokningar th {
    text-align: left;
    padding: 20px;
    background-color: #3f3f4c;
    color: #FFFFFF;
    border-radius: 10px 10px 0px 0px;
  }

  .minaBokningar th:last-child,
  .minaBokningar td:last-child {
    text-align: right;
  }

	.minaBokningar tr:nth-child(even) {
    background: #f4f5f9;
  }

	.minaBokningar td {}

/* FUNKTIONER */

.bookFailed,
.doesExist {
  background: #c00;
  width: auto;
  height: auto;
  position: fixed;
  top: 50%;
  left: 35%;
  text-align: center;
  padding: 15px 25px;
}

.carAdd,
.funkAdd {
  background: #0c0;
  width: auto;
  height: auto;
  position: fixed;
  top: 50%;
  left: 35%;
  text-align: center;
  padding: 15px 25px;
}


/******************************************************* MIRSAD */

.page-container {
  width: 80%;
  margin: auto;
  background-color: #FFFFFF;
  padding: 0px 20px 20px 20px;
  border-radius: 3px 3px 0px 0px;
}

    .header {
      width: 100%;
      height: 50px;
      margin: auto;
    }
    .headline {
      width: 220px;
      line-height: 50px;
      padding-left: 20px;
      padding-right: 10px;
      margin-top: -20px;
      float: left
    }
    .div_style {
      border: 1px solid #FFFFFF;
	    background-color: #FFFFFF;
	    border-radius: 3px;
    }
    .div_style_1 {
      text-align: left;
      padding: 20px;
      background-color: #3f3f4c;
      color: #FFFFFF;
      border-radius: 10px 10px 0px 0px;
      margin-left: -21px;
      margin-right: -22px;
    }
    .meny_header_style {
      text-align: left;
      padding: 20px;
      background-color: #3f3f4c;
      color: #FFFFFF;
      border-radius: 10px 10px 0px 0px;
      margin-left: -21px;
      margin-right: -22px;
    }
    .meny {
      float: right;
      right: 8px;
      margin-top: -20px;
    }
    .meny ul {
      list-style: none;
    }
    .meny ul li {
      float: left;
      padding-top: 20px;
      margin: 0 20px;
    }
    .meny ul li a {
      display: block;
    }
    #headline_add_remove {
      margin: 15px auto;
      text-align: center;
      clear: both;
    }
    .req_star {
      display: inline-block;
      font-size: 22px;
      color: #FF0000;
      margin-left: 10px;
    }
    #search_headline, #vehicle_headline {
      display: block;
      padding-left: 20px;
    }
    .search {
      height: auto;
      width: 100%;
      padding-bottom: 28px;
    }
    #reg_info_headline {
      display: block;
      padding-left: 20px;

    }
    #search_text {

      margin-left: 20px;
      font-size: 22px;
      width: 290px;
    }
    #search_button {
      font-size: 22px;
      border-radius: 3px;
      padding-left: 30px;
      padding-right: 30px;
      margin-left: 70px;
    }
    .button_style {
      border-radius: 3px;
      margin-left: 70px;
    }
    .vehicle {

      height: 130px;
      width: 600px;
      padding: 20px;
      float: left;
    }
    .funktioner {
      float: left;
      padding: 20px;
      text-align: center;
      margin-bottom: 28px;
    }
    .funktion_update_button {
      text-align: right;
      display: block;
      margin: 20px 0px 0px 0px;
      float: right;
      clear: both;
    }
    .funktioner_style {
      font-size: 26px;
      display: inline-block;
      padding: 0px 20px;
    }
    .vehicle_container {
      clear: both;
    }
    .vehicle_left {
      float: left;
    }
      .vehicle_left input,
      .vehicle_left select {
        float: right;
      }
    .vehicle_right {
      float: right;
    }
      .vehicle_right input,
      .vehicle_right select {
        float: right;
      }
    .option {

      min-height: 130px;
      width: 300px;
      padding: 20px;
      float: right;
      height: auto;
    }
    #option_headline {
      margin-top: -70px;
      margin-bottom: 40px;
    }
    .action_button {
      text-align: center;
      float: right;
      clear: right;
      margin: 28px 0;
    }

    .inspection_info, .service_info {
      float: left;
      background-color: #FFFFFF;
      margin: 10px 0px;
      width: 100%;
    }

    .inspection_info > h2, .service_info > h2 {
      margin-left: 12px;
    }

    .car {
      padding: 20px;
      text-align: center;
      margin: 10px 15px;
    }
    .reg_nr {
      display: inline-block;
      font-size: 44px;
      margin: 0px 40px;

    }
    .date_info {
      display: inline-block;
      font-size: 44px;
      margin: 0px 40px;

    }
    .button_save {
      display: inline-block;
      font-size: 44px;
      margin: 0px 40px;

    }

    .input_div {
      padding: 5px;
      display: inline-block;
      margin: auto;
      width: 32%;
      float: left;
    }
